.PerformanceScore-mainWrapper {
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
}


/* form */

.custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input {
    border: 0;
    box-shadow: none;
}

.custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search {
    font-size: 23px;
}

.performance_box {
    background-color: #F1F4F9;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

.Performance-score {
    padding: 1rem 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.performance-content-box {
    display: flex;
    justify-content: space-between;
}

.perofrmance-teamName {
    margin-left: -4.5rem;
}

.btn-status {
    outline: none;
    border: none;
    padding: 9px 16px;
    color: #fff;
    background: #49DEB2;
    border-radius: 16px;
}

.performance-score-nodata-wrapper {
    position: relative;
}

.performance-score-nodata-wrapper section {
    position: absolute;
    left: calc(50% - 170px);
}

.performance-score-nodata-wrapper section .no-data-found-img {
    width: 100% !important;
}

.performance-score-table {
    min-height: 250px;
}

.performance-score-nodata-wrapper section .no-data-found-img>div {
    height: 160px !important;
}