.no-data-found-img>div {
    width: 100%;
    height: 250px !important;
    display: flex;
    justify-content: center !important;
}

.no-data-found-img:nth-child(1) {
    width: 52% !important;
    margin: 0 auto !important;

}

.bookdoctor .no-data-found-img>div {
    height: 300px !important;
}

#nodata-found-er {
    display: block !important;
}